<input style="display:none;" type="text" name="fbId" ng-model="fbId"/>
<p>User Name: <input type="text" ng-model="name" name="name" readonly/></p>
<p>User City: <input type="text" ng-model="city" name="city" readonly/></p>
<p>User E-mail: <input type="text" name="email"></p>
<p>User Password: <input type="password" name="password"></p>

<hr>

<p>Enterprise Name: <input type="text" name="enterprise.name" /></p>
<p>Enterprise Website: <input type="text" name="enterprise.website"></p>
<p>Enterprise Size: <input type="text" name="enterprise.size" /></p>
<p>Accepted categories: <input type="text" name="enterprise.categories" /></p>

<br>
<p><input type="submit" value="Confirm data"/></p>
