<input style="display:none;" type="text" name="fbId" ng-model="fbId"/>
<p>Name: <input type="text" ng-model="name" name="name" readonly/></p>
<p>City: <input type="text" ng-model="city" name="city" readonly/></p>
<p>E-mail: <input type="text" name="email"></p>
<p>Password: <input type="password" name="password"></p>
<p>Website: <input type="text" name="newbie.website"></p>
<p>Academic: <select name="newbie.academic">
                <option value="1">Higher education</option>
                <option value="2">MBA</option>
                <option value="3">Master's degree</option>
                <option value="4">None</option>
            </select></p>

<p>College: <input type="text" name="newbie.college"></p>
<p>Course: <input type="text" name="newbie.course"></p>
<p>About Me <textarea name="newbie.about"></textarea></p>
<br>

<h4>My Skills</h4>
<p>Design <input type="text" name="newbie.design"></p>
<p>Development <input type="text" name="newbie.development"></p>
<p>Illustration <input type="text" name="newbie.illustration"></p>

<br>
<p><input type="submit" value="Confirm data"/></p>
